@charset "UTF-8";
body{
    background: #8a8ac0;
    font: normal 15pt arial;
}
h1{
    text-align: center;
    color: white;

}
div{
    margin: 10px;
    padding: -8px;
}
section{
    background: aliceblue;
    border-radius: 15px;
    padding: 5px;
    margin: auto;
    width: 400px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.295);
}
footer{
    text-align: center;
    color: white;
}
p {
    margin-top: 8px;
    margin-bottom: 8px;
    

}
#img-login {
    display: flex;
    height: 90px;
    margin: auto;
}
