@charset "UTF-8";
body{
    width: 89%;
    background: #8a8ac0;
    font: normal 15pt arial;
    margin: -2px;
}
h1{
    text-align: center;
    color: white;

}
h2{
    text-align: center;
    color: white;
    font-size: 17px;
}
div{
    margin: 10px;
    padding: -8px;
}
section{
    background: aliceblue;
    border-radius: 15px;
    padding: 5px;
    margin: auto;
    width: 400px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.295);
}
footer{
    text-align: center;
    color: white;
}
p {
    margin-top: 8px;
    margin-bottom: 8px;
    

}
#img-login {
    display: flex;
    height: 100px;
    margin: auto;
}
